In [11]:
import prettytable
import pandas as pd
import sqlite3

prettytable.DEFAULT = 'DEFAULT'

In [12]:
conn = sqlite3.connect('FinalDB.db')
cursor_obj = conn.cursor()

In [ ]:
ChicagoCensusData_df=pd.read_csv("chicagoDataSet/ChicagoCensusData.csv",index_col=0)
ChicagoCensusData_df.reset_index(inplace=True)
ChicagoCensusData_df.head(2)

ChicagoCrimeData_df=pd.read_csv("chicagoDataSet/ChicagoCrimeData.csv",index_col=0)
ChicagoCrimeData_df.reset_index(inplace=True)
ChicagoCrimeData_df.head(2)

ChicagoPublicSchools_df=pd.read_csv("chicagoDataSet/ChicagoPublicSchools.csv",index_col=0)
ChicagoPublicSchools_df.reset_index(inplace=True)
ChicagoPublicSchools_df.head(2)

In [ ]:
ChicagoCensusData_df.to_sql("CENSUS_DATA",conn,if_exists="replace")
ChicagoCrimeData_df.to_sql("CHICAGO_CRIME_DATA",conn,if_exists="replace")
ChicagoPublicSchools_df.to_sql("CHICAGO_PUBLIC_SCHOOLS",conn,if_exists="replace")

In [19]:
%load_ext sql
%sql sqlite:///FinalDB.db

In [ ]:
%%sql

    select name from sqlite_master where type='table';

In [ ]:
%%sql

     SELECT name,type,length(type) FROM PRAGMA_TABLE_INFO('CHICAGO_CRIME_DATA')

In [ ]:
%sql select count(ID) from CHICAGO_CRIME_DATA;

In [ ]:
%%sql

     SELECT name,type,length(type) FROM PRAGMA_TABLE_INFO('CENSUS_DATA')

In [ ]:
%%sql   

   
    select COMMUNITY_AREA_NAME,COMMUNITY_AREA_NUMBER from CENSUS_DATA where PER_CAPITA_INCOME<11000

In [ ]:
%%sql

     SELECT name,type,length(type) FROM PRAGMA_TABLE_INFO('CENSUS_DATA')

In [ ]:
%%sql

     SELECT CASE_NUMBER FROM CHICAGO_CRIME_DATA where DESCRIPTION LIKE '%minor%';

In [ ]:
%%sql

     SELECT * FROM CHICAGO_CRIME_DATA where DESCRIPTION LIKE '%child%' AND PRIMARY_TYPE='KIDNAPPING';

In [ ]:
%%sql

     SELECT DISTINCT PRIMARY_TYPE FROM CHICAGO_CRIME_DATA where LOCATION_DESCRIPTION LIKE '%school%';

In [ ]:
%%sql

     SELECT name,type,length(type) FROM PRAGMA_TABLE_INFO('CHICAGO_PUBLIC_SCHOOLS')

In [ ]:
%%sql
    select "Elementary, Middle, or High School",SAFETY_SCORE from CHICAGO_PUBLIC_SCHOOLS;

In [82]:
%%sql

     SELECT name,type,length(type) FROM PRAGMA_TABLE_INFO('CENSUS_DATA')

 * sqlite:///FinalDB.db
Done.

[('index', 'INTEGER', 7),
 ('COMMUNITY_AREA_NUMBER', 'REAL', 4),
 ('COMMUNITY_AREA_NAME', 'TEXT', 4),
 ('PERCENT_OF_HOUSING_CROWDED', 'REAL', 4),
 ('PERCENT_HOUSEHOLDS_BELOW_POVERTY', 'REAL', 4),
 ('PERCENT_AGED_16__UNEMPLOYED', 'REAL', 4),
 ('PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA', 'REAL', 4),
 ('PERCENT_AGED_UNDER_18_OR_OVER_64', 'REAL', 4),
 ('PER_CAPITA_INCOME', 'INTEGER', 7),
 ('HARDSHIP_INDEX', 'REAL', 4)]

In [89]:
%%sql

     SELECT COMMUNITY_AREA_NAME,PERCENT_HOUSEHOLDS_BELOW_POVERTY FROM CENSUS_DATA ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC limit 5;

 * sqlite:///FinalDB.db
Done.

[('Riverdale', 56.5),
 ('Fuller Park', 51.2),
 ('Englewood', 46.6),
 ('North Lawndale', 43.1),
 ('East Garfield Park', 42.4)]

In [ ]:
%%sql

     SELECT * FROM CHICAGO_CRIME_DATA group by COMMUNITY_AREA_NUMBER;

In [136]:
%%sql

     select COMMUNITY_AREA_NAME from CENSUS_DATA where HARDSHIP_INDEX in (select Max(HARDSHIP_INDEX) from CENSUS_DATA)

 * sqlite:///FinalDB.db
Done.

[('Riverdale',)]

Use a sub-query to determine the Community Area Name with most number of crimes?

In [134]:
%%sql
SELECT community_area_name,COMMUNITY_AREA_NUMBER FROM CENSUS_DATA 
WHERE COMMUNITY_AREA_NUMBER = (SELECT COMMUNITY_AREA_NUMBER FROM CHICAGO_CRIME_DATA 
    GROUP BY COMMUNITY_AREA_NUMBER
    ORDER BY COUNT(COMMUNITY_AREA_NUMBER) DESC
    LIMIT 1)
LIMIT 1;

 * sqlite:///FinalDB.db
Done.

[('Austin', 25.0)]

In [141]:
%%sql
    select Avg(SAFETY_SCORE) from CHICAGO_PUBLIC_SCHOOLS where "Elementary, Middle, or High School"="MS"

 * sqlite:///FinalDB.db
Done.

[(48.0,)]