In [9]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import warnings
# Ignore all warnings
warnings.filterwarnings("ignore", category=FutureWarning)

In [10]:
app_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/netflix_data_webpage.html"

In [11]:
response = requests.get(url=app_url).text

In [12]:
soup = BeautifulSoup(response)

In [13]:
netflix_data = pd.DataFrame(columns=["Date", "Open", "High", "Low", "Close", "Volume"])

In [20]:
for row in soup.find('tbody').find_all('tr'):
    col = row.find_all("td")
    date = col[0].text
    Open = col[1].text
    high = col[2].text
    low = col[3].text
    close = col[4].text
    adj_close = col[5].text
    volume = col[6].text

    netflix_data = pd.concat([netflix_data,pd.DataFrame({"Date":[date], "Open":[Open], "High":[high], "Low":[low], "Close":[close], "Adj Close":[adj_close], "Volume":[volume]})], ignore_index=True)    
    
netflix_data

             Date    Open    High     Low   Close       Volume Adj Close
0    Jun 01, 2021  504.01  536.13  482.14  528.21   78,560,600    528.21
1    May 01, 2021  512.65  518.95  478.54  502.81   66,927,600    502.81
2    Apr 01, 2021  529.93  563.56  499.00  513.47  111,573,300    513.47
3    Mar 01, 2021  545.57  556.99  492.85  521.66   90,183,900    521.66
4    Feb 01, 2021  536.79  566.65  518.28  538.85   61,902,300    538.85
..            ...     ...     ...     ...     ...          ...       ...
205  Jan 01, 2016  109.00  122.18   90.11   91.84  488,193,200     91.84
206  Dec 01, 2015  124.47  133.27  113.85  114.38  319,939,200    114.38
207  Nov 01, 2015  109.20  126.60  101.86  123.33  320,321,800    123.33
208  Oct 01, 2015  102.91  115.83   96.26  108.38  446,204,400    108.38
209  Sep 01, 2015  109.35  111.24   93.55  103.26  497,401,200    103.26

[210 rows x 7 columns]